@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

*,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  list-style-type: none;
  text-decoration: none;
  font-weight: 600;
  user-select: none;
}

::placeholder {
  color: #000;
}

a {
  color: #000;
  text-decoration: none;
}

/****** header *******/

header {
  background-color: black;
  height: 62px;
  font-size: 18px;
}
header a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
}

svg {
  margin-right: 20px;
}

.underline {
  margin-left: 4px;
  text-decoration: underline !important;
}

/*****  nav bar ********/

nav {
  background-color: #ffee66;
}

.nav__container {
  margin: 0 auto;
  height: 100px;
  max-width: 960px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
}

.nav__container__form {
  height: 40px;
  width: 340px;
  display: flex;
}

.nav__container__logo_comeup__mini {
  display: none;
}

.nav__container__logo_comeup {
  width: 98px;
  height: 27px;
}
.nav__container__form__input {
  width: 300px;
  padding: 6px;
  border: none;
  outline: none;
  background-color: #f3f3f3;
}

.nav__container__form__button {
  background-color: #000;
  border: none;
  width: 40px;
}

.nav__container__form__button:hover {
  cursor: pointer;
}

.nav__container__form__button__loupe {
  height: 16px;
}

.nav__container__menu {
  position: relative;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.nav__container__menu:hover {
  cursor: pointer;
}

.nav__container__menu:hover .nav__container__menu__list {
  visibility: visible;
}

.nav__container__menu__list {
  visibility: hidden;
  position: absolute;
  top: 50px;
  left: -55px;
  padding: 0px 10px;
  width: max-content;
  background-color: #ffffff;
  text-transform: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 14px 0px;
  font-size: 14px;
  line-height: 30px;
  z-index: 2;
}

.nav__container__menu__list__containerFlecheTop {
  visibility: hidden;
  position: absolute;
  top: 20px;
  height: 40px;
  width: 100%;
}

.nav__container__menu:hover .nav__container__menu__list__containerFlecheTop {
  visibility: visible;
  cursor: default;
}

.nav__container__menu__list__containerFlecheTop__flecheTop {
  position: absolute;
  top: 10px;
  left: 50px;
  height: 0px;
  width: 0px;
  border-bottom: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
}

.nav__container__menu__list__item_list {
  display: flex;
  align-items: center;
  color: #000;
}

.nav__container__menu__list__item_list__img {
  height: 20px;
  margin: 10px;
}

.nav__container__menu__list__item_list__text {
  text-align: start;
  width: auto;
  margin: 10px;
}

.nav__container__connexion {
  text-transform: uppercase;
}

.nav__container__connexion {
  text-transform: uppercase;
  color: #000;
}

.nav__container__devenez_vendeur {
  text-transform: uppercase;
  background-color: black;
  display: flex;
  align-items: center;
  color: #fff;
  height: 40px;
  padding: 0 10px;
}

@media screen and (max-width: 992px) {
  .nav__container__devenez_vendeur,
  .nav__container__connexion {
    display: none;
  }

  .nav__container__logo_comeup {
    align-items: center;
  }

  .nav__container {
    width: 100%;
    height: 62px;
    display: block;
    position: relative;
  }

  .nav__container__logo_comeup {
    display: none;
  }
  .nav__container__logo_comeup__mini {
    display: block;
    width: 32px;
    height: 27px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .nav__container__form__input {
    display: none;
  }

  .nav__container__form {
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 70px;
    transform: translate(-50%, -50%);
  }

  .nav__container__menu {
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(-50%, -50%);
  }

  .nav__container__menu__containerMiniMenu {
    height: 36px;
    width: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav__container__menu__containerMiniMenu__miniMenu {
    height: 3px;
    width: 18px;
    margin: 1.5px;
    background-color: black;
  }
  .nav__container__menu__imgMenu {
    display: none;
  }
  .nav__container__menu__categories {
    display: none;
  }

  .nav__container__form__button {
    background-color: transparent;
  }
  .nav__container__form__button__loupe {
    fill: black;
  }
}

/****** section trouver *****/

.trouver {
  height: 870px;
  background-color: #ffee66;
}

.trouver__container {
  position: relative;
  max-width: 960px;
  /* height: 722px; */
  margin: auto;
  padding: 35px 0 113px 0;
  /* border: solid; */
}

h1 {
  position: relative;
  z-index: 1;
  line-height: 1.12;
  font-size: 50px;
  font-weight: 500;
  padding-top: 4px;
  margin-bottom: 30px;
}

h1 strong {
  font-weight: 700;
}

.trouver__container form {
  position: relative;
  z-index: 1;
  display: flex;
  height: 50px;
  max-width: 535px;
  margin-top: 63px;
}

.trouver__container form input {
  padding: 0 18px;
  border: none;
  background-color: #fff;
  color: black;
  font-size: 18px;
  font-weight: inherit;
  width: 100%;
  outline: none;
}

.trouver__container button {
  background-color: #000;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  padding: 10px 20px 10px 20px;
  font-size: 18px;
}

.trouver__container__recommande {
  margin-top: 80px;
  /* border: solid; */
  position: relative;
  z-index: 1;
}

.trouver__container__recommande h2 {
  position: absolute;
  left: -82px;
  top: 121px;
  transform: rotate(-90deg);
  font-size: 50px;
  font-style: italic;
  font-weight: 700;
  line-height: 1.12;
}

/* img bg  */

.homepage-intro-illustration {
  position: absolute;
  top: 34px;
  right: 0;
  z-index: 0;
}

/*  carousel */

.trouver__container__recommande__carousel {
  width: 300px;
  margin-left: 117px;
  height: 357px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
}

.serviceIllu picture {
  display: flex;
}

.serviceBottom {
  background-color: #fff;
  padding: 15px;
}
.serviceBottom .serviceTitle {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4838;
  /* overflow: hidden;
  word-break: break-word; */
  color: inherit;
}

.serviceAuthor {
  display: flex;
  text-align: left;
  margin-top: 20px;
  display: flex;
}

.sA-name {
  display: flex;
  font-size: 14px;
  line-height: 1;
  margin: 0 0 6px 0;
}

.sA-name__colorGrey {
  color: gray;
}

.sA-name__nd {
  font-style: normal;
}

.serviceAuthor .imgAuthor {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 7px;
}

.authorStartcomments .svgContainer {
  height: 15px;
  width: 15px;
  margin-left: 5px;
}

.containerStartComments {
  display: flex;
}

.starsvg {
  height: 15px;
  width: 15px;
  margin-right: 5px;
}

.countComments {
  font-size: 12px;
  line-height: 1.2;
}

.mainBlock_service .btn {
  font-size: 13px;
  margin-top: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: rgb(222, 222, 222);
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

.carousel {
  z-index: 1;
}

.label-mini-service {
  position: absolute;
}
.on-click {
  display: block;
  width: 300px;
  height: 357px;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  z-index: 0;
}
input[type="radio"] + label::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: 102px;
  bottom: -32px;
  width: 8px;
  height: 8px;
  background: white;
}

/*
input[type="radio"]:checked + label::after {
  background: rgba(0, 0, 0, 0.5) !important;
}
input[type="radio"]:not(:checked) + label::after {
  background: white !important;
}
input[type="radio"]:checked + label {
  z-index: 1 !important;
}
*/

input[type="radio"] + .btn-radio-2::after {
  left: 120px;
}

input[type="radio"] + .btn-radio-3::after {
  left: 138px;
}
input[type="radio"] + .btn-radio-4::after {
  left: 156px;
}
input[type="radio"] + .btn-radio-5::after {
  left: 174px;
}
input[type="radio"] + .btn-radio-6::after {
  left: 192px;
}

/*****************     anim xarousel      *******************/

li:hover input[type="radio"] + label::after {
  animation-play-state: paused !important;
  cursor: pointer !important;
}
li:hover input[type="radio"] + label {
  animation-play-state: paused !important;
}
ul:hover > li:not(:hover) input[type="radio"] + label::after {
  animation-play-state: paused !important;
}
ul:hover > li:not(:hover) input[type="radio"] + label {
  animation-play-state: paused !important;
}

@keyframes anim-carousel-checked-radio {
  0%,
  16.66% {
    background: rgba(0, 0, 0, 0.5);
  }
  16.66%,
  100% {
    background: white;
  }
}
@keyframes anim-carousel-z-index-label {
  0%,
  16.66% {
    z-index: 1;
  }
  16.66%,
  100% {
    z-index: 0;
  }
}

li:nth-child(1) input[type="radio"] + label::after {
  animation: anim-carousel-checked-radio 24s steps(1) infinite;
}
li:nth-child(1) input[type="radio"] + label {
  animation: anim-carousel-z-index-label 24s steps(1) infinite;
}

@keyframes anim-carousel-checked-radio-ch2 {
  0%,
  16.66% {
    background: white;
  }
  16.66%,
  33.32% {
    background: rgba(0, 0, 0, 0.5);
  }
  33.32%,
  100% {
    background: white;
  }
}
@keyframes anim-carousel-z-index-label-ch2 {
  0%,
  16.66% {
    z-index: 0;
  }
  16.66%,
  33.32% {
    z-index: 1;
  }
  33.32%,
  100% {
    z-index: 0;
  }
}

li:nth-child(2) input[type="radio"] + label::after {
  animation: anim-carousel-checked-radio-ch2 24s steps(1) infinite;
}
li:nth-child(2) input[type="radio"] + label {
  animation: anim-carousel-z-index-label-ch2 24s steps(1) infinite;
}

@keyframes anim-carousel-checked-radio-ch3 {
  0%,
  16.66% {
    background: white;
  }
  16.66%,
  33.32% {
    background: white;
  }
  33.32%,
  49.98% {
    background: rgba(0, 0, 0, 0.5);
  }
  49.98%,
  100% {
    background: white;
  }
}
@keyframes anim-carousel-z-index-label-ch3 {
  0%,
  16.66% {
    z-index: 0;
  }
  16.66%,
  33.32% {
    z-index: 0;
  }
  33.32%,
  49.98% {
    z-index: 1;
  }
  49.98%,
  100% {
    z-index: 0;
  }
}

li:nth-child(3) input[type="radio"] + label::after {
  animation: anim-carousel-checked-radio-ch3 24s steps(1) infinite;
}
li:nth-child(3) input[type="radio"] + label {
  animation: anim-carousel-z-index-label-ch3 24s steps(1) infinite;
}

@keyframes anim-carousel-checked-radio-ch4 {
  0%,
  16.66% {
    background: white;
  }
  16.66%,
  33.32% {
    background: white;
  }
  33.32%,
  49.98% {
    background: white;
  }
  49.98%,
  66.64% {
    background: rgba(0, 0, 0, 0.5);
  }
  66.64%,
  100% {
    background: white;
  }
}
@keyframes anim-carousel-z-index-label-ch4 {
  0%,
  16.66% {
    z-index: 0;
  }
  16.66%,
  33.32% {
    z-index: 0;
  }
  33.32%,
  49.98% {
    z-index: 0;
  }
  49.98%,
  66.64% {
    z-index: 1;
  }
  66.64%,
  100% {
    z-index: 0;
  }
}

li:nth-child(4) input[type="radio"] + label::after {
  animation: anim-carousel-checked-radio-ch4 24s steps(1) infinite;
}
li:nth-child(4) input[type="radio"] + label {
  animation: anim-carousel-z-index-label-ch4 24s steps(1) infinite;
}

@keyframes anim-carousel-checked-radio-ch5 {
  0%,
  16.66% {
    background: white;
  }
  16.66%,
  33.32% {
    background: white;
  }
  33.32%,
  49.98% {
    background: white;
  }
  49.98%,
  66.64% {
    background: white;
  }
  66.64%,
  83.3% {
    background: rgba(0, 0, 0, 0.5);
  }
  83.3%,
  100% {
    background: white;
  }
}
@keyframes anim-carousel-z-index-label-ch5 {
  0%,
  16.66% {
    z-index: 0;
  }
  16.66%,
  33.32% {
    z-index: 0;
  }
  33.32%,
  49.98% {
    z-index: 0;
  }
  49.98%,
  66.64% {
    z-index: 0;
  }
  66.64%,
  83.3% {
    z-index: 1;
  }
  83.3%,
  100% {
    z-index: 0;
  }
}

li:nth-child(5) input[type="radio"] + label::after {
  animation: anim-carousel-checked-radio-ch5 24s steps(1) infinite;
}
li:nth-child(5) input[type="radio"] + label {
  animation: anim-carousel-z-index-label-ch5 24s steps(1) infinite;
}

@keyframes anim-carousel-checked-radio-ch6 {
  0%,
  16.66% {
    background: white;
  }
  16.66%,
  33.32% {
    background: white;
  }
  33.32%,
  49.98% {
    background: white;
  }
  49.98%,
  66.64% {
    background: white;
  }
  66.64%,
  83.3% {
    background: white;
  }
  83.3%,
  100% {
    background: rgba(0, 0, 0, 0.5);
  }
}
@keyframes anim-carousel-z-index-label-ch6 {
  0%,
  16.66% {
    z-index: 0;
  }
  16.66%,
  33.32% {
    z-index: 0;
  }
  33.32%,
  49.98% {
    z-index: 0;
  }
  49.98%,
  66.64% {
    z-index: 0;
  }
  66.64%,
  83.3% {
    z-index: 0;
  }
  83.3%,
  100% {
    z-index: 1;
  }
}

li:nth-child(6) input[type="radio"] + label::after {
  animation: anim-carousel-checked-radio-ch6 24s steps(1) infinite;
}
li:nth-child(6) input[type="radio"] + label {
  animation: anim-carousel-z-index-label-ch6 24s steps(1) infinite;
}
