@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  list-style-type: none;
  text-decoration: none;
}

/****** header *******/

header {
  background-color: black;
  height: 62px;
  font-size: 18px;
  font-weight: 600;
}
header a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: white;
}

svg {
  margin-right: 10px;
}

.underline {
  margin-left: 4px;
  text-decoration: underline !important;
}

/*****  nav bar ********/

nav {
  background-color: #ffee66;
}

.nav__container {
  margin: 0 auto;
  height: 100px;
  width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
}

.nav__container__form {
  height: 40px;
  width: 340px;
  display: flex;
}
.nav__container__logo_comeup {
  width: 98px;
  height: 27px;
}
.nav__container__form__input {
  width: 300px;
  padding: 6px;
  border: none;
  outline: none;
  background-color: #f3f3f3;
}

.nav__container__form__button {
  background-color: #000;
  border: none;
  width: 40px;
}

.nav__container__form__button:hover {
  cursor: pointer;
}

.nav__container__form__button__loupe {
  height: 16px;
}

.nav__container__menu {
  position: relative;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.nav__container__menu:hover {
  cursor: pointer;
}

.nav__container__menu:hover .nav__container__menu__list {
  visibility: visible;
}

.nav__container__menu__list {
  visibility: hidden;
  position: absolute;
  top: 50px;
  left: -55px;
  padding: 5px;
  width: max-content;
  background-color: #ffffff;
  text-transform: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 14px 0px;
  font-size: 14px;
  line-height: 17px;
}

.nav__container__menu__list__containerFlecheTop {
  visibility: hidden;
  position: absolute;
  top: 20px;
  height: 40px;
  width: 100%;
}

.nav__container__menu:hover .nav__container__menu__list__containerFlecheTop {
  visibility: visible;
  cursor: default;
}

.nav__container__menu__list__containerFlecheTop__flecheTop {
  position: absolute;
  top: 10px;
  left: 50px;
  height: 0px;
  width: 0px;
  border-bottom: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
}

.nav__container__menu__list__item_list {
  display: flex;
  align-items: center;
  color: #000;
}

.nav__container__menu__list__item_list__img {
  height: 20px;
  margin: 10px;
}

.nav__container__menu__list__item_list__text {
  text-align: start;
  width: auto;
  margin: 10px;
}

.nav__container__connexion {
  text-transform: uppercase;
}

.nav__container__devenez_vendeur {
  text-transform: uppercase;
  background-color: black;
  color: #fff;
  padding: 10px;
}

/****** section trouver *****/

.trouver {
  width: 100%;
  height: 900px;
  background-color: #ffee66;
}
